:root {
    --primary-hue: 267deg;
    --primary-saturation: 84%;
    --primary-lightness: 81%;
}

nav>a>img {
    /* Navbar Image */
    border-radius: 50% !important;
}

@font-face {
    font-family: "blank-river";
    font-style: normal;
    font-weight: 400;
    src: local('Blank River'), url('https://fonts.cdnfonts.com/s/51976/Blank River.woff') format('woff');
}

nav>a:first-of-type>span {
    /* Navbar Title */
    font-family: blank-river, sans-serif;
    font-size: x-large;
    transition: 250ms;
}

nav>a:first-of-type>span:hover {
    /* Navbar Title Colors on hover */
    text-shadow: 2px 2px 0 #ff6ec4, 4px 4px 0 #7873f5;
    transition: 250ms;
}

nav>a:first-of-type:hover {
    /* Narvar Image and Title */
    opacity: 100% !important;
}

/* Light mode */
.button-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness));
    color: white;
    font-weight: 600;
    border-radius: 0.375rem;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.button-link:hover {
    background-color: hsl(var(--primary-hue), var(--primary-saturation), calc(var(--primary-lightness) - 10%));
}

/* Dark mode */
html[class~="dark"] .button-link {
    background-color: hsl(var(--primary-hue), var(--primary-saturation), calc(var(--primary-lightness) + 10%));
    color: black;
}

html[class~="dark"] .button-link:hover {
    background-color: hsl(var(--primary-hue), var(--primary-saturation), calc(var(--primary-lightness) + 5%));
}